# HuggingFace Endpoint Token.
HF_TOKEN = "hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Or if using GROQ API
GROQ_API_KEY = "gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Model id to be used!
MODEL_REPO_ID = "Qwen/Qwen2.5-Coder-32B-Instruct" or "llama-3.1-8b-instant" etc.

# Postgres container
DATABASE_URL="postgres:5432"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
